<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src='./index.js' type="text/javascript"></script>
</head>
<body>
  <h1>A list of recent room</h1>
  <div>
    <table id='rooms'>
      <tr>
        <th> Chatroom </th>
        <th> Last active time </th>
      </tr>
      <tr id='row0'>
      </tr>
      <tr id='row1'>
      </tr>
      <tr id='row2'>
      </tr>
      <tr id='row3'>
      </tr>
      <tr id='row4'>
      </tr>
    </table>
  </div>
  <div>
      <input type="button" class="button" id="start" value="Create new chatroom" >
  </div>
</body
</html>
