@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

/* Basic */

	body, input, select, textarea {
		font-family: 'Source Sans Pro', sans-serif;
	}

/* BG */
    @-moz-keyframes bg { 0% { opacity: 0; } 100% { opacity: 1; } }
	@-webkit-keyframes bg { 0% { opacity: 0; } 100% { opacity: 1; } }
	@-o-keyframes bg { 0% { opacity: 0; } 100% { opacity: 1; } }
	@keyframes bg { 0% { opacity: 0; } 100% { opacity: 1; } }

	body {
		-moz-animation: bg 2s linear;
		-webkit-animation: bg 2s linear;
		-o-animation: bg 2s linear;
		animation: bg 2s linear;
		background-position: left top;
	    background-image: url(images/1486769521113.jpg);
		background-attachment: fixed;
		margin: 0;
		padding: 0;
	}
	a {
		color: inherit;
		text-decoration: none;
	}
#nav{
	position:fixed;
	top: 0px;
	left: 0px;
	height: 15%;
	width: 100%;
	text-align: center;
	z-index: 999;
	color:#908C8C;
	
}
#nav ul{
    display:inline-block;
	margin:0 auto; 
	background-color:rgba(255,255,255,0.8);
	line-height: 70px;
	width: 80%;
	list-style: none;
	overflow:auto;
	
}
#nav ul li{
	display: inline-block;
	padding: 0 2%;
	
}
#nav a{
	font-size: 15pt;
}
#nav a:hover{
	color: aqua;
	font-size: 17pt;
}
.current a{
	border-bottom: dotted 2px;
}

.main {
	    display: block;
	    position: absolute;
	    top:0px;
	    left: 0px;
	    width: 100%;
	    margin: 0;
	    overflow:scroll; 
	    text-align: center;
	}
.content{
	width: 65%;
	background-color: rgba(255,255,255,0.25);
	color: black;
	margin-top: 8%;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: normal;
}
.title{
	padding-top: 2%;
	font-size: 24pt;
	font-weight: 500;
}
.subtitle{
	margin: 0;
	font-size: 15pt;
	font-weight: 400;
}
.content ul{
	text-align: left;
	padding-bottom: 2%;
	font-size: 13pt;
}